@import 'fonts'
@import 'vars'

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: $default-font
	font-weight: normal
	background: #fff
	color: #34394C

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none
	width: fit-content

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 0 15px
	box-sizing: border-box
	font-family: $font
	border: none
	border-radius: 3px
	width: 100%
	height: 44px
	background: #fff
	color: #AEB0B8
	font-size: 14px
	font-weight: 300

	&::placeholder
		color: #AEB0B8

	&:hover, &:focus
		outline: none
		box-shadow: none

label
	display: block
	width: 100%
	margin: 0 0 13px

	&:last-child
		margin: 0

textarea
	resize: none
	padding: 12px 17px
	height: 103px

button, .btn
	outline: none
	transition: .3s ease
	cursor: pointer
	box-shadow: none
	font-family: $default-font
	padding: 0
	margin: 0
	border: none
	border-radius: 0

	&:hover, &:focus
		outline: none
		box-shadow: none

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	padding: 11.5px 27px
	font-size: 18px
	font-weight: normal
	transition: 0.3s ease

.btn-sm
	font-size: 14px
	padding: 5.5px 8px

.btn-group
	.btn
		margin: 0 5px 0 0
		&:last-child
			margin: 0	

.btn-accent
	background: $accent
	color: #fff
	&:hover
		background: $blue
		color: #fff	

.btn-border-accent
	border: 1px solid $accent
	color: #589195
	&:hover
		background: $accent
		color: #fff		

.svg-icon
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%

strong, b
	font-weight: bold
	display: inline-block

ul, ol
	padding: 0 0 0 20px

.my-ul
	list-style: none
	padding: 0

.list-dots
	list-style-type: disc

.slick-slider
	width: 100%

.slick-slide
	outline: none

.slick-dots
	padding: 0
	list-style: none
	position: relative
	bottom: 0
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	li
		cursor: pointer
		transition: .3s ease
		margin: 0 30px 0 0
		position: relative
		background: #9FC1C3
		width: 10px
		height: 10px
		border-radius: 50%
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 26px
			height: 26px
			border: 0.8px solid #589195
			border-radius: 50%
			opacity: 0
			transition: .3s ease
		&.slick-active
			background: #589195
			&::before
				opacity: 1	
		&:last-child
			margin: 0
		button
			display: none	

.container
	padding: 0 10px
	max-width: 1220px

.row
	margin: 0 -10px
	&>*
		padding: 0 10px

.bg-light-blue
	background: #F6F8FA

.page
	padding: 100px 0 0

.box-text
	font-family: $font
	font-weight: 300
	color: #7F8698
	font-size: 18px
	line-height: 28px

.h1
	font-size: 50px
	font-weight: 500
	color: #2F4050

h2
	width: 100%
	font-size: 42px
	font-weight: 500
	color: #34394C	

.h3
	color: #707686
	font-size: 18px
	font-weight: 300
	line-height: 28px
	margin: 5px 0 0	

.subtitle
	font-size: 20px	

.mb-20
	margin-bottom: 20px	

.mb-30
	margin-bottom: 30px		

.mb-40
	margin-bottom: 40px	

.m-100
	margin: 100px 0	

//checkbox my
.label-checkbox
	position: relative
	display: flex
	align-items: flex-start
	color: rgba(255, 255, 255, 0.5)
	font-size: 14px
	margin: 15px 0 0
	line-height: 1.14

.inp-check
	display: none

.checkbox-custom
	margin: 0 12px 0 0
	position: relative
	border-radius: 6px
	background-color: #fff
	width: 16px
	height: 16px
	min-width: 16px
	cursor: pointer

.inp-check:checked ~ .checkbox-custom
	background: #fff url("../img/check-black.svg") no-repeat center
	background-size: 8px
//checkbox my end
